<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../index.css" />
    <link rel="icon" href="../../Assets/Icon/icon.ico" />
    <title>Patients Dashboard</title>
 
  </head>
  <body>
    <nav>
      <img
      src="../../Assets/Icon/icons8_clinic_24px.png"
        alt=""
        style="margin-top: 10px; margin-left: 10px; position: absolute;"
      />
      <div class="menu" style="position: relative;">
        <ul>
          <div>
            <li><a href="../../index.html">Home</a></li>
          </div>
          <div>
            <li><a href="../Contact us.html">Contact Us</a></li>
          </div>

          <div>
            <li><a href="../About us.html">About Us</a></li>
          </div>
          <div>
            <li><a href="../login.html">Logout</a></li>
          </div>
        </ul>
      </div>
    </nav>

    <section style="margin: 10rem 0;  
    ">
        <div style="width: 30vw; height: fit-content;">
         
            <p class="d-inline mr-5">Patients Dashboard</p>
            <img src="../../Assets/Icon/patient.png" alt="patient pic../" />
            <h4>
             Medical Record
            </h4>
            <a href="#">Inspact Record</a>
  
            <h4>
              Check Prescription
            </h4>
            <a href="#">Show Details</a>
            
            <ul>
              <li class="d-block">John</li>
              <li class="d-block">Doe</li>
              <li class="d-block">Tonny</li>
              <li class="d-block">Jimmy</li>
              <li class="d-block">Astra</li>
            </ul>
          </div>
        
        <div style="width: 30vw; ">
          <h4>
           Edit Info
          </h4>
  
          <a class="d-block" href="#">Edit</a>
          <a class="d-block" href="#">Update</a>
  
          <h4>
            Set Appointment
          </h4>
  
          <a class="d-block" href="#">See Medical services</a>
          <a class="d-block" href="#">Check available of dcotors</a>
          <a class="d-block" href="#">Make appoinments</a>
          <a class="d-block" href="#">Pay Dues</a>
         
        </div>
        <div style="width: 25vw;">
            <h4>
               Check Appointment approval
               </h4>
       
               <a class="d-block" href="#">Apointment status</a>
               <a class="d-block" href="#">Doctor details</a>
       
               <h4>
                 Set Appointment
               </h4>
       
               <a class="d-block" href="#">Check  Medical suggestion</a>
               <a class="d-block" href="#">Check your payment details</a>
               <a class="d-block" href="#">Pay using Debt/credit Card</a>
               <a class="d-block" href="#">Read more</a>
        </div>
    </section>
  

    <footer style="padding: 2rem 0 ;background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;">
      <div style="width: 20vw;">
        <ul>
          <div class="footerlink">
            <li><a href="../../index.html">Home</a></li>
          </div>
          <div class="footerlink">
            <li><a href="../Contact us.html">Contact Us</a></li>
          </div>

          <div class="footerlink">
            <li><a href="../About us.html">About Us</a></li>
          </div>
       
        </ul>
      </div>
      <div style="width: 60vw; display: inline-block;">
        <p style="text-align: center;">
          Copyright © 2001 - 2020 WebToMed™, L.L.C.
        </p>
        <p style="text-align: center;">
          All Rights Reserved.
        </p>
        <p style="text-align: center;">
          All trademarks used are the properties of their respective owners
        </p>

        <div style="margin-left: 6rem;">
          <ul>
            <div>
    
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 1.5rem;"></i></a></li>
            </div>
            <div>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 1.5rem;"></i></a></li>
            </div>
    
            <div>
    
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true" style="font-size: 1.5rem;"></i ></a></li>
            </div>
            <div>
    
                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size: 1.5rem;"></i></a> </li>
            </div>
            
        </ul>
        </div>
      </div>
    </footer>
 
  </body>
</html>
