<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" href="" >
    <title>About Us</title>

   
</head>
<body>
    

    <nav>
        <img src="../Assets/Icon/icons8_clinic_24px.png" alt="" style="margin-top: 10px; margin-left: 10px; position: absolute;">
      <div class="menu" style="position: relative;;">
       
        <ul>
            <div>
    
                <li><a href="../index.html">Home</a></li>
            </div>
            <div>
                <li><a href="./Contact us.html">Contact Us</a></li>
            </div>
    
            <div>
    
                <li><a href="#">About Us</a></li>
            </div>
            <div>
    
                <li><a href="./register.html">Register</a> </li>
            </div>
            <div>
                <li><a href="./login.html">Login</a></li>
            </div>
        </ul>
      </div>
    </nav>
    
    <section style="width: 60vw; text-align: center; margin: auto; margin-top: 5rem;">
        <h1>
            About Us
        </h1>
        <p style="text-align: center;">
            E Clinic Hospital  is a 270 bed, multi-specialty facility, encompassing a wide range of clinical services. Each clinical department and specialty at E Clinic Hospital Pakistan is equipped with state of the art diagnostic and treatment facilities. All of our services are in complete adherence to the JCI standards. We strive to take healthcare to a level of compassion not seen before in Pakistan, as we believe the heart of a hospital does not just comprise of state of the art equipment, but a very strong human component as well. E Clinic is introducing an economical, but superior, healthcare and world-class infrastructure never seen before in Pakistan. The hospital is designed to offer patients the most innovative and advanced treatments and technologies through highly qualified and experienced doctors, specialty trained nurses, staff and expert hands to oversee the whole process in a healthy, safe and compassionate environment. 
        </p>
    </section>
    
    <section style="width:100vw; text-align: center; margin: 8rem auto;">
        <img  class="img-fluid" src="../Assets/Images/About us.jpg"  alt="">
    </section>
    <footer style="padding: 2rem 0 ;background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;">
    
        <div style="width: 20vw;">
            <ul>
                <div class="footerlink">
        
                    <li><a href="../index.html">Home</a></li>
                </div>
                <div class="footerlink">
                    <li><a href="./Contact us.html">Contact Us</a></li>
                </div>
        
                <div class="footerlink">
        
                    <li><a href="#">About Us</a></li>
                </div>
                <div class="footerlink">
        
                    <li><a href="./register.html">Register</a> </li>
                </div>
                <div class="footerlink">
                    <li><a href="./login.html">Login</a></li>
                </div>
            </ul>
        </div>
       <div style="width: 60vw; display: inline-block;" >
        <p style="text-align: center;">
            Copyright © 2001 - 2020 WebToMed™, L.L.C.
        </p>
        <p style="text-align: center;">
            All Rights Reserved.
        </p>
        <p style="text-align: center;">
            All trademarks used are the properties of their respective owners
    
    
    
        </p>
       
     
       <div style="margin-left: 6rem;">
        <ul>
            <div>
    
                <li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
            </div>
            <div>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </div>
    
            <div>
    
                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
            </div>
            <div>
    
                <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a> </li>
            </div>
            
        </ul>
       </div>
    
    </div>
       
      
       
    </footer>

  
</body>
</html>